.contact_main {
  display: flex;
}

.contact_item {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 10px;  
  padding: 24px;
  transition: all .5s;
}

.contact-ava {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.contact_icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.contact_info {
  margin: 10px 0;
}
